html {
    min-height: 100%;
}

body {
    background: url("../img/Background.jpg");
    background-size: cover;
}

.row1,
.row2{
    margin-top: 125px;
}

.wolf,
.cat {
    float: left;
/*    margin-bottom: 50px;*/
}

.bear,
.griffin {
    float: right;
}

.viper {
/*    float: */
    
}